.container {
  position: relative;
}

.episode {
  position: absolute;
  top: 55px;
  right: -15px;
  color: rgba(255, 98, 0, 0.5);
  font-size: 3.5em;
  z-index: 1;
  line-height: 1;
}

.textContainer {
  position: relative;
  z-index: 2;
}
