.container {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 1fr;
  column-gap: 10px;
  row-gap: 10px;
  grid-auto-rows: 1fr;
}

.floatingLink {
  margin: 0px;
  top: 3em;
  right: auto;
  bottom: auto;
  left: 170px;
  position: fixed;
}
