.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 1fr;
  column-gap: 10px;
  row-gap: 10px;
  grid-auto-rows: 1fr;

  & > a > div {
    height: 100%;
  }
}
